<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css"/>
</head>
<body>
    <div id="main">
        <div class="header">
            <ul>
                <li><a href="https://www.facebook.com/login/">Home</a></li>
                <li><a href="www.google.com">Product</a></li>
                <li><a href="www.google.com">Service</a></li>
                <li><a href="www.google.com">About</a></li>
                <li><a href="www.google.com">Contect</a></li>
            </ul>
        </div>
        <img src="banner.jpg" alt="" class="banner">

        <div class="center-main">
            <DIV class="left">
                <ul>
                    <li><a href="www.google.com">Home</a></li>
                    <li><a href="www.google.com">Product</a></li>
                    <li><a href="www.google.com">service</a></li>
                    <li><a href="www.google.com">about</a></li>
                    <li><a href="www.google.com">contect</a></li>
                </ul>
            </DIV>
                <div class="right">
                    <div class="product">

                        <img src="photo.jpg" alt="" height="150px" width="150px">

                        <button>Add to Cart</button>
                    </div>
                    <div class="product">
                        <img src="photo.jpg" alt="" height="150px" width="150px">
                        <button>Add to Cart</button>
                </div>

                <div class="product">
                    <img src="photo.jpg" alt="" height="150px" width="150px">
                    <button>Add to Cart</button>
            </div>

            <div class="product">
                <img src="photo.jpg" alt="" height="150px" width="150px">
                <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="photo.jpg" alt="" height="150px" width="150px">
            <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="photo.jpg" alt="" height="150px" width="150px">
        <button>Add to Cart</button>
</div>

<div class="product">
    <img src="photo.jpg" alt="" height="150px" width="150px">
    <button>Add to Cart</button>
</div>

<div class="product">
    <img src="photo.jpg" alt="" height="150px" width="150px">
    <button>Add to Cart</button>
</div>

<div class="product">
    <img src="photo.jpg" alt="" height="150px" width="150px">
    <button>Add to Cart</button>
</div>

<div class="product">
    <img src="photo.jpg" alt="" height="150px" width="150px">
    <button>Add to Cart</button>
</div>  
     </div>

    </div>
    </div>
</body>
</html>