<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cakelounge</title>
    <link rel="stylesheet" href="cakelounge.css">
</head>
<body>
    <div class="main">
        <!-- https://cakelounge.in/ -->
        <div class="first">
            <img src="logo.html" alt="">
            <nav>
                <a href="">Home</a>
                <a href="">Manu</a>
                <a href="">gallery</a>
                <a href="">Designer Cakes Enquiry</a>
                <a href="">Delivery Areas</a>
                <a href="">Reviews</a>
                <a href="">Locate Us</a>
                <button class="online">Online Order</button>
            </nav>
        </div>
        <div class="banner">
            <div class="pra"></div>
            <img src="baner01.jpg" alt="">
            <div class="ban"><img src="Sh2dQNky_400x400.jpg" alt=""></div>
        </div>
        <div class="banner-two">
            <div class="one">
                <img src="cake1.png" alt="">    
            </div>            
            <div class="two">
                <pre>          Same day Cake 
         delivery all over 
                 Pune</pre>
                 <p>Now you can send cakes and <br> flowers anywhere in Pune in <br>  just 3 hours.</p>
            </div>
            <div class="three">
                <img src="cake2.png" alt="">
            </div>
            <div class="four">
                <pre>  Midnight Cake 
 delivery service 
    all over Pune</pre>
                            <p>Now you can send cakes and <br> flowers at midnight <br> anywhere in Pune.</p>
            </div>
            <div class="five">
                <img src="cake3.png" alt="">
            </div>
            <div class="six">
                <pre>          
        Exciting Discount 
               Offers</pre>
                            <p>Get cakes at cake shop rates <br> with Special Discount Offers <br> upto 25%.</p>
            </div>
            
        </div>
        
    </div>
    <div class="banner2">
        <p style="font-size: 30px; text-align: center; font-family: cursive; font-weight: bold; color: brown;">Welcome to Cake Lounge - Send cakes and flowers to Pune</p>
        <div class="line-one">
            <img src="line1.png" alt="">
            <img src="line2.jpg" alt="">
            <img src="line3.jpg" alt="">
        </div>
        <div class="line-two">
            <img src="line4.png" alt="">
            <img src="line5.png" alt="">
            <img src="line6.png" alt="">
        </div>
        <div class="line-three">
            <img src="line7.jpg" alt="">
            <img src="line8.png" alt="">
            <img src="line9.jpg" alt="">
        </div>
               <div class="footer">
                <p style="font-size: 20px; text-align: center; font-family: cursive; font-weight: bold; color: #fff;">Cake Lounge - Baked with passion Delivered with love.</p>
                <a href="www.google.com"><button> ORDER - DESIGNER CAKES </button>
                    </a>
                    <p class="p-two">or Call at 9822320003</p>
                </div>
                <div class="footer-right">
                    <a href="www.google.com"><button> ORDER - DESIGNER CAKES </button>
                </div>
                <div class="footer-one">
                    <a href=""><button>ORDER NOW</button></a>
                                      
                </div>
                <div class="name">
                    <p>International Flavor Cakes</p>
                </div>
                <div class="name-two">
                    <p>Flowers </p>
                </div>
                <div class="name-three">
                    <p>Combos </p>
                </div>
                <div class="name-four">
                    <p>Regular Flavor Cakes</p>
                </div>
                <div class="name-five">
                    <p>Valentine Special Cakes</p>
                </div>
                <div class="name-six">
                    <p>Speciality Cakes</p>
                </div>
                <div class="name-seven">
                    <p>Photo Cakes</p>
                </div>
                <div class="name-eight">
                    <p>Liquor Cakes</p>
                </div>
                <div class="name-nine">
                    <p>Designer Cakes</p>
                </div>
    </div>
    <div class="footer-down">
        <img src="footer04.jpg" alt="">
    </div>

    <div class="footerall">

    <div class="footer-one">
        <p>Enjoy Your Celebrations With Us!</p>
    </div>
    <div class="footer-two">
        <p>"We bake with passion and deliver with love"</p>
    </div>
    <div class="footer-thre">
        <p>Our cakes are not just delicious, they are so rich and creamy that they become the star of every party. We firmly believe that no matter what</p>
     </div>
     <div class="footer-four">
         <p>the occasion, a good cake can elevate the celebration and take it to a whole new level. Therefore, we have created unique flavours to spread</p>
     </div>
     <div class="footer-five">
         <p>magic all-round the year across different festivals and occasions. On days like Mother’s day, Father’s day, Valentine’s Day, Raksha Bandhan,</p>
     </div>
     <div class="footer-six">
         <p>etc. we have exciting offers and combos so don’t settle for the ordinary.</p>
     </div>
     <div class="footer-seven">
         <p>Our Master Chefs are obsessed with invention and perfection. Hence the Cake Lounge kitchens are always full of delightful aromas  coming <br>  from  some new and exciting to create flavours made to scintillate your taste buds. Some of our best-sellers include the absolutely decadent</p>
     </div>
     <div class="footer-eight">
         <p>Ferrero Rocher cake, the good old chocolate cake, every adult’s favourite fresh mango cake, creamy and rich butterscotch cake, and the 
            </p>
     </div>
     <div class="footer-nine">
         <p>heavenly tiramisu cake.</p>
     </div>
     <div class="footer-ten">
         <p>Just tell us your requirements and we will deliver the best quality cake right at your doorstep. Apart from cakes we also have flowers as add-</p>
     </div>
     <div class="footer-eleven">
         <p>ons, so you know when it comes to cakes and flowers delivery in Pune all you need to do is log onto www.cakelounge.in and join the retinue</p>
     </div>
     <div class="footer-twel">
         <p>of our happy and satisfied customers.</p>
     </div>
     <div class="footer-thatin">
        <a href=""><button>ORDER NOW</button></a>
     </div>

    </div>
     <div class="foot">
         <img src="Sh2dQNky_400x400.jpg" alt="">
         <div class="foot-left">
            <h1 style="text-align: center; font-family: cursive; font-weight: bold; color: brown;">Welcome to Cake Lounge the best designer Cake Shop in Pune</h1>
            <p>Welcome to Cake Lounge. We are in the business of crafting delectable gourmet cakes and we take our business very seriously! Having reigning the baking industry passionately for nearly two decades, we are no longer just bakers, but craftsmen. Every product from our state-of-the-art bakery,created with premium ingredients, speaks a language of intricacy, charm and uniqueness. Just like wine, Cake Lounge has matured, evolved and turned fine with age. Through our strategically located kitchens and outlets around Pune, we can boast of delivering cakes, flowers and accompaniments almost anywhere in Pune within the expected time.
                Cake Lounge is dedicated towards offering bakery products along the entire spectrum. Our forte is Gourmet Cakes, Specialized Cakes, Desserts, Fondant cakes, Fresh Cream cakes, Fancy Wedding Cakes and much more. Oue menu is fashioned to match every cake fantsy and requirement.</p>
                <img src="foot01.jpg" alt="">
         </div>
         <div class="foot-right">
            <img src="foot02.jpg" alt="">
            <h1 style="text-align: center; font-family: cursive; font-weight: bold; color: brown;">Why Cake Lounge?</h1>
            <p>"We bake with passion and deliver with love"<br><br>

                At Cake Lounge we firmly believe that no matter what the Occasion, a good cake can elevate the celebration. And hence we have created unique flavors to spread magic round the year, whatever the affair.On days like Mother’s day, Father’s day, Valentine’s day, RakshaBandhan etc. don’t settle for what is available. Instead log on to <strong> www.cakelounge.in</strong> and get spoilt for choices. If this reason isn’t enough to prove why Cake Lounge read further. <br><br>   
                
                All our outlets are owned and managed by us assuring the supreme quality and efficiency with each delivery. Also we operate via centrally located state-of-the-art, fully equipped kitchens. <br><br>
                
                Our Chefs are obsessed with invention and perfection. Hence the Cake Lounge kitchens are always busy whipping something new and exciting to create scintillating flavors and variety.</p>
         </div>
         <div class="footone">
            <img src="Sh2dQNky_400x400.jpg" alt="">
            <p>Few of our most popular creations are, Ferrero Rocher Chocolate cake, Fresh Mango Cake, Butter Scotch Cake, Tiramisu etc. <br><br>

                What good is a surprise if it doesn’t reach on time and look great? If you are looking to order, send, receive a freshly baked scrumptious cake along with some fresh flowers anywhere in and around Pune, simply log on to <strong> www.cakelounge.in.</strong> <br><br>
                
                A day begins at midnight so why wait until morning to celebrate a special day? We understand this like no one else and hence we offer a special Midnight Cake Delivery service where we deliver Cake and accompaniments to your loved one’s doorstep as the clock strikes midnight. <br><br>
                
                Only the finest ingredients procured from trusted suppliers can be turned into best of the cakes. To complement our cakes, we have the most resourceful Florists in town on board to have the freshest and the prettiest bunch of flowers delivered to you. The Quality of what we do sets us apart from the others and we pledge to maintain it no matter what. <br><br>
                 
                Over the years, we have built a team that’s unmatchable. Our Sales team especially is always on their toes to make sure nothing comes in the way of you and your joy of relishing a lovely cake. Whatever the enquiry, they have an answer. All you have to do is dial +91 9552033333. <br><br>
                
                All great things come with a price tag. But at Cake Lounge we offer an array of payment methods to ease you worry. We accept all major Credit and Debit Cards and have ensured that our payment gateway is secured. We also accept cash on delivery. <br><br>
                
                We haven’t left any stone unturned to reach you and for you to find us. You can find us on all major Social Media Platforms like Facebook, Instagram and Google+. Follow our pages and stay tuned to know what’s happening in Cake Heaven!</p>
                <h1 style="text-align: center; font-family: cursive; font-weight: bold; color: brown;">Why Cake Lounge is the Best Cake Shop to Order Online cakes in Pune? </h1>
     </div>
     <div class="footwo">
        <p>We are a Company based in Pune City, having an experience of more than 15 years in the Cake Manufacturing industryAll our products are baked fresh every day in our state-of-the-art bakery using only premium quality ingredients. We are specialized in all types of cakes Designer cakes, Customized Cakes, Fondant Cakes, Wedding Cakes, Fresh Cream Cakes and much more, Our Menu is loaded with New and Latest varieties of Cake Flavors and Desserts With our strategically located stores and kitchens in Pune, we are able to <strong> deliver cakes and flowers same day anywhere in Pune city.</strong>
            <br><br>

            We are specialised in all kinds of cakes like wedding cakes, designer cakes, customised cakes , birthday cakes, anniversary cakes and also cakes for occasions such as Raksha Bandhan, Diwali fa: Cake delivery service in Pune Wish to send a cake to a loved one who lives in Pune? Cakelounge is exactly what you are looking for! We are a cake shop and have been in this business for the past fifteen years. We offer cakes and chocolates for various occasions like birthdays, weddings, anniversaries, Christmas, Valentine's day, Diwali, RakshaBandhan, Mother's day, Father's day, etc. Christmas, Valentine's day, Mother's day, etc.</p>
            <ul>
                <li>
                    <p><span> Own Cake Shops in Pune -</span>Unlike most other online Brands, Cake Lounge has its own cake shops in Pune, we have our own state of art fully equipped bakery.</p>
                </li>
                                
            </ul>
            
     </div>
     <div class="footthree">
        <img src="Sh2dQNky_400x400.jpg" alt="">
        <ul>
            <li>
                <li><p><span>Awesome New Flavours and Variety - </span> Our Chefs at Cake Lounge are constantly whipping out new flavours for your naughty taste buds, we have a mix variety of latest cakes like Ferrero roacher chocolate cake, Mixed fruit, Dark Chocolate Fantasy, Fresh Mango, Tiramisue Red Velvet Cake as well as ever popular traditional flavours like Pineaple Cake Black Forest Cake, Chocolate Truffle, Butter Scotch Cake and much more.</p></li>
            </li>
        </ul>
     </div>
     <div class="footfour">
        
        <ul>
            <li>
                <li><p><span>ON Time Cake delivery service in Pune - </span> If you are looking for a cake supplier in Pune, and you also want someone to deliver fresh flowers along with a fresh cake then look no further, Cake Lounge is the answer. We at cake lounge are specialised in delivering fresh cakes along with fresh flowers anywhere in pune city.</p></li>
            </li>
        </ul>
     </div>
     <div class="footfive">
        
        <ul>
            <li>
                <li><p><span>Fastest Delivery Service - </span> As we have our own stores strategically located around pune city , we can assure you the fastest cake delivery service in Pune city, we guarantee same day delivery of fresh cakes anywhere in pune.</p></li>
            </li>
        </ul>
     </div>
     <div class="footsix">
        
        <ul>
            <li>
                <li><p><span>Midnight Delivery of Cakes and Flowers - </span> We at cake lounge know the value of your sentiments , so we have started midnight cake delivery service in Pune, now you can  <strong> send cakes and flowers at midnight in Pune </strong> city to your loved once.</p></li>
            </li>
        </ul>
     </div>
     <div class="footseven">
        
        <ul>
            <li>
                <li><p><span>Best Quality - </span> All our cakes are freshly made from only the best raw materials procured from trusted suppliers of pune city, we have on board with us the <strong> best florist in Pune </strong> city for the <strong> delivery of fresh flowers in Pune.</strong></p></li>
            </li>
        </ul>
     </div>
     <div class="footeight">
        
        <ul>
            <li>
                <li><p><span>Best Sales team -  </span> We have a great sales team to help you with any issues or enquiries , you have regarding any of our services , you can contact us on 9552033333 , we will be happy to help you.</strong></p></li>
            </li>
        </ul>
     </div>
     <div class="footnine">
        
        <ul>
            <li>
                <li><p><span>Multiple Payment Options -  </span> On our Website we accept all Major credit and debit cards. you can shop without getting worried because our payment gateways are secured , wait there is more . you can even order cakes without paying online and by just selecting <strong> Cash On Delivery </strong> because we also provide cash on delivery option in pune city.</p></li>
            </li>
        </ul>
     </div>
     <div class="footten">
        
        <ul>
            <li>
                <li><p><span>Socially Equipped - </span> We at Cake Lounge are socially present on all social media platforms such as <strong> Facebook, Instagram </strong> and <strong> Google_ </strong>, you can follow us like us or comment on us ! cozz the party is on !!</p></li>
            </li>
        </ul>
     </div>
     <div class="footeleven">
        
        <p>Cake is the hero of any celebration. At cake lounge we believe in creating cakes that are gorgeous and flavorsome to match every kind of taste.
            <br><br>

            We bake our cakes with immense love and pass on the same love into your celebrations through delivering our best every single time. With our “Anytime, anywhere delivery” service, in and around Pune, we bring sheer joy to your doorstep. Sometimes a good cake also needs great accompaniment, so you can choose from our range of add ons like Flowers, Cards etc. to make your celebration even more special. Log onto <a href="https://cakelounge.in/">www.cakelounge.in</a>  for the best Cake related services and create precious moments into lifetime memories.
              </p>
     </div>
     <div class="foottwel">
        
        <p><span>Send Cakes to Pune  </span></p>
        
     </div>
         </div>
         <div class="footlast">
            <p>Now if you are looking to send cakes to Pune online, look no further Cake lounge is now online. We have made for you a very user friendly website www.cakelounge.in. From where you can order and send cakes all across pune city.</p>
         </div>
         <div class="last">
            <div class="one">
                <h3>QUICK LINKS </h3>
                <p>Home
                    <br>
                    Menu
                    <br>
                    Delivery Areas
                    <br>
                    Blog
                    <br>
                    Midnight Delivery
                </p>
            </div>
            <div class="two">
                <h3>LOCATION</h3>
                <p>Shop No 08, Shrishtee spaces, Near Hotel <br> Govind Garden, Govind Chauk, Pimple <br> Saudagar <br>
                    Pune <br>
                    9822320003
                    </p>
            </div>
            <div class="three">
                <h3>WE ARE SOCIAL</h3>
                <button>LEAVE US YOUR FEEDBACK</button>
            </div>
         </div>
         <div class="sec-last">
            <p>Our Payment Partners :</p>
            <img src="mobikwik.png" alt="">
         </div>
</body>
</html>