*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box !important;
    /* font-family: sans-serif; */
}
body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
  }
  a {
    color: var(--bs-blue);
  }
.container-fluid{
    background-color:  rgb(164 175 175);
    height: 1670px;
}
.navbar {
    /* background-image: url(image/image1.jpg); */
    background-position: center;

}
.navbar a{
    font-size: 17px;
    font-weight: 600;
}
.text{
    background-color: rgb(164 175 175);
}
.text h1:first-child{
    margin-top: -600px !important;
    font-size: 9rem;
    color: #fff;
    margin-left: 70px !important;
}
.text h1:nth-child(2){
    /* margin-top: -600px !important; */
    font-size: 9rem;
    color: #fff;
    margin-left: 70px !important;   
}
.col-lg-3{
    margin-left: 80px !important;
}
.carde{
    margin-top: 250px !important;
}
.one{
    margin-top: 20px !important;
}
.carde img{
    border-radius: 20px;
}
.one a p{
    position: absolute;
    margin-top: -150px !important;
    margin-left: 20px !important;
    font-size: 4rem;
    color: #fff;
}
.col-lg-3 a h1{
    position: absolute;
    margin-top: -250px !important;
    margin-left: 40px !important;
    font-size: 2rem;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
}   
.col-lg-3 a h2{
    position: absolute;
    margin-top: -400px !important;
    text-align: center;
    margin-left: 40px !important;
    font-size: 2rem;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
}
.col-lg-3 a h3{
    position: absolute;
    margin-top: -380px !important;
    
    margin-left: 40px !important;
    font-size: 2rem;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
} 
.col-lg-3 a h6{
    position: absolute;
    margin-top: -150px !important;
    margin-left: 40px !important;
    font-weight: inherit;
    
    line-height: 50px;
    color: #fff;
}
.col-lg-3 a h6:hover{
    text-decoration: underline;
}
.learn{
    font-size: 2rem;
    color: #fff;
    margin-top: 30px !important;
    cursor: pointer;
    transition: .3s ease;
}
.learn:hover{
    color: black;
}
.fist{
    background-color: rgb(164 175 175) !important;
    height: 500px;

}
.left{
    margin-left: 100px !important;
    /* font-size: 5rem !important; */
}
.left h1{
    font-size: 4rem;
    line-height: 4.5rem;
    color: #2e6266;
}
.left p{
    margin-top: 30px !important;
}
.left button{
    margin-top: 30px !important;
    width: 120px;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    white-space: 20px !important;
    text-transform: capitalize;
    font-weight: 600;
    background-color: #ffffff;
}

.two{
    margin-left: 200px !important;
    margin-top: 100px !important;
}
.two .img{
    width: 200px;
}
.two .pre-1{
 margin-top: 50px !important;
 font-size: 20px;
 margin-bottom: 50px !important;   
}
.two h3{
    font-size: 3rem;
    margin-bottom: 30px !important;
}
.pre-2{
    font-size: 25px;
}
.pre-3{
    font-size: 25px;
    margin-bottom: 50px!important;
}
.two .col-6{
    margin-left: 70px !important;
    margin-top: 70px !important;
}
.footer{
    margin-top: 30px!important;
    height: 70px;
    background-color: #ffffff;
    /* margin-left: 100px !important; */
}
.footer .col-4{
    margin-left: 180px !important;
}
.footer .col-5{
    margin-left: 250px !important;
}
.nav a{
    padding: 10px;
    color: #2e6266;
    text-decoration: none;
}
.nav a:hover{
    text-decoration: underline;
    color: black;
}


@media (max-width: 600px) {
    .text h1:first-child{
        margin-top: -200px !important;
        font-size: 3rem;
        color: #fff;
        margin-left: 70px !important;
    }
    .text h1:nth-child(2){
        /* margin-top: -600px !important; */
        font-size: 3rem;
        color: #fff;
        margin-left: 70px !important;   
    }
    .col-3{
        margin-left: 0 !important;
    }
    .carde{
        margin-top: auto !important;
    }
    .one{
        margin-top: auto !important;
    }
    .left{
        margin-top: 1000px !important;
    }
    .two{
        margin-top: 1100px !important;
    }
    .left{
        margin-top: 1000px !important;
    }
    .carde{
        margin-top: 150px !important;
        align-items: center;
        /* margin-left: -0px !important; */
    }    
    .carde img{
        width: 400px;
        height: 400px;
        border-radius: 20px;
        padding-top: 20px;
    }
    .one a p{
        position: absolute;
        margin-top: -100px !important;
        margin-left: 100px !important;
        font-size: 3rem;
        color: #fff;
    }
    .col-lg-3 a h1{
        position: absolute;
        margin-top: -250px !important;
        margin-left: 40px !important;
        font-size: 2rem;
        font-weight: bold;
        line-height: 50px;
        color: #fff;
    }   
    .col-lg-3 a h2{
        position: absolute;
        margin-top: -300px !important;
        text-align: center;
        margin-left: 60px !important;
        
        font-size: 2rem;
        font-weight: bold;
        line-height: 50px;
        color: #fff;
    }
    .col-lg-3 a h3{
        position: absolute;
        margin-top: -300px !important;
        margin-left: 40px !important;
        font-size: 25px;
        line-height: 30px;
        color: #fff;
    } 
    .col-lg-3 a h6{
        position: absolute;
        margin-top: -150px !important;
        margin-left: 40px !important;
        font-weight: inherit;
        line-height: 50px;
        color: #fff;
    }
    .learn{
        font-size: 1rem;
        color: #fff;
        margin-top: 30px !important;
        cursor: pointer;
        margin-left: 70px !important;
        transition: .3s ease;
    }
    .fist{
        background-color: rgb(164 175 175);
        height: 1450px;
        
    
    }
    .left{
        margin-left: 5px !important;
        width: 670px !important;
        margin-top: 500px !important;
        
        /* font-size: 5rem !important; */
    }
    .left h1{
        font-size: 3rem;
        width: 80%;
        line-height: 50px;
        color: #2e6266;
            margin-left: 60px !important;
    }
    .left p{
        margin-top: 30px !important;
        width: 80%;
        margin-left: 60px !important;
    }
    .left button{
        margin-top: 30px !important;
        width: 120px;
        font-size: 15px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        white-space: 20px !important;
        text-transform: capitalize;
        font-weight: 600;
        background-color: #ffffff;
        margin-left: 60px !important;

    }
    .left h3{
        font-size: 2rem;
        margin-top: -450px !important;
        text-align: center;        
    }
    .two{
        margin-left: 90px !important;
        margin-top: 100px !important;
    }
    .two .img{
        width: 200px;
        margin-top: 20px;
    }
    .row .col-4 p{
        width: 500%;
        margin-left: -80px !important;
    }
    .row .nav {
        width: 500%;
        margin-left: -80px !important;
    }
    
}
